*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,body{
  background-color: black;
  padding-top: 25px;
}
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;

  /* background: rgba(255, 255, 255, 0.15); semi-transparent */
  background-color: transparent;
  backdrop-filter: blur(15px);
  /* -webkit-backdrop-filter: blur(12px); Safari support */

  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  border: none;
}
.right{
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact{
  height: 40px;
  width: 100px;
  border-radius:25px ;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logox{
  height: 50px;
}
a{
  color: white;
  text-decoration: none;
}
.foot{
  height: 300px;
  position: sticky;
  bottom: 0;

  background: rgba(255, 255, 255, 0.15); /* semi-transparent */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari support */

  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.site{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hometab{
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  font-size: 30px;
  width: 60%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgcontent {
  background-image: url(src/assets/images/background.jpg);
  background-size:cover;
  height: 800px;
  width: 70%;
  transform: scaleX(-1);
}
span{
  color: red;
}
.skillcard{
  padding: 10px;
  width: 300px;
  height: 400px;
  background-color: transparent;
  backdrop-filter: blur(12px);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid red;
}
.ss{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sss{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.tenth{
  padding: 40px;
  height: 120px;
  width: 1000px;
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.educa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.con{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.15); /* semi-transparent */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari support */

  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 25px;

}
.conform{
  width: 500px;
  height: 600px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#name{
  width: 400px;
  height: 70px;
  border-radius: 25px;
  border: 2px solid white;
  font-size: 40px;
}
#email{
  width: 400px;
  height: 70px;
  border-radius: 25px;
  border: 2px solid white;
  
  font-size: 40px;
}
#text{
  width: 400px;
  height: 150px;
  border-radius: 25px;
  border: 2px solid white;
  font-size: 40px;
}
button{
  width: 400px;
  height: 70px;
  border-radius: 25px;
  border: 2px solid white;
  font-size: 40px;
  background-color: red;
}
.contactcontent{
  padding-left: 80px;
  width: 600px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.mail{
  width: 600px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.phone{
  width: 600px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.procard{
  padding: 30px;
  height: 400px;
  width: 300px;
  background-color: black;
  backdrop-filter: blur(12px);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid white;
}
.use{
  width: 250px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
#us{
  color: white;
  text-align: center;
  width: 60px;
  background-color: red;
  border-radius: 25px;

}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.project{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}